.left{padding: 10px 5px;display:inline-block;}
.required{color: red;font-size: 20px;margin-right: 20px;}
.subtitle{display:inline;}
.btn-type{padding-left: 80px;padding-right: 80px;margin-right: 50px;}
.btn-li{margin-top: 20px;margin-bottom: 20px;padding-bottom: 20px;}